<ion-header>
  <ion-toolbar>
    <ion-title>Examen</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content padding no-bounce>

    <ion-slides pager paginationType="fraction" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let question of questions">
      <h4>{{question.question}}</h4>


      <ion-list radio-group>
	  	<ion-item *ngFor="let answer of question.answers;let i = index;	">
	    <ion-label><h6>{{answer.answer}}</h6></ion-label>
	    <ion-radio value="{{answer.answer}}" (click)="setAnswer(question.question_id,answer.answer,answer.valid,question.answer)"></ion-radio>
	  </ion-item>

	  </ion-list>

		<button ion-button color="secondary" id="btnEndTest" [style.display]="btn" (click)="endTest()">Finalizar Examen</button>


    </ion-slide>
  </ion-slides>

 
</ion-content>
